.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.page:hover {
  background-color: #ddd;
}

.active {
  background-color: #198754;
  color: white;
}

.prev,
.next {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: #ddd;
}